


body {
    background-color: white;

}

/* mise en forme barre noir a revoir ?*/






header {
    display: grid;
    grid-template-areas: "countdown logo button";
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    width: 965px;

}

#countdown{
    grid-area: countdown;
    border: white solid;
    border-radius: 25%;
    width: 75%;
    height: 80%;
    text-align: center;
    background-color: white;
    color: black;
    display: block;
    margin: auto 10px auto 10px;
    font-size: 180%;
}

#countdown>h2{
    color: darkred;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 100%;
}

#logo>img{
    grid-area: logo;
    height: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;

}

#button{
    margin: auto 5px auto auto;
    text-align: center;
}

body>header>div>button{
    grid-area: button;
    padding: 5px;
    border: white solid;
    color: white;
    text-align: center;
    font-size: 4vw;
    background-color: black;
}


/*mise en forme partie 1 à faire*/

#premiere_partie{
    background-color: white;
}


/*élément 1 mise en forme a revoir*/
#deuxieme_partie{
    background-color: white;
}


#deuxieme_partie > #element1 {
    display: grid;
    grid-template-areas:    "vide1 image titre"
                            "vide2 vide3 texte";
    grid-template-columns: 1fr 2fr 5fr 0fr 0fr 1fr;

}


#deuxieme_partie > #element1 > img {
    grid-area: image;
    margin: auto;
}

#deuxieme_partie > #element1 > h2 {
    grid-area: titre;
    margin: 0;
}



#deuxieme_partie > #element1 > text {
    grid-area: texte;
    margin-bottom: 300px;
}

#deuxieme_partie > #element2 {
    display: grid;
    grid-template-areas:    "vide1 titre vide2"
                            "vide3 texte vide4";
    grid-template-columns: 3fr 20fr 2fr;

}

#deuxieme_partie > #element2 > h2 {
    grid-area: titre;
    margin: 0;
}


#deuxieme_partie > #element2 > text {
    grid-area: texte;
    margin-bottom: 300px;
}

#deuxieme_partie > #element3 {
    display: grid;
    grid-template-areas:    "image titre vide1"
                            "vide2 texte vide3";
    grid-template-columns: 3fr 6fr 1fr;

}

#deuxieme_partie > #element3 > h2 {
    grid-area: titre;
    margin: 0;
}


#deuxieme_partie > #element3 > text {
    grid-area: texte;
    margin-bottom: 300px;
}
h2 {
    font-size: 20px;
}

text {
    font-size: 14px;

}

#troisieme_partie{
    background-color: white;
}



