body {
    margin: 0;
    background-color: #f5f5f5f5;
}

.logopetit {
    height: 8vh;
    width: auto;
    padding: 1vh;
}
.logogrand {
    height: 16vh;
    width: auto;
    padding: 2vh;
}
#logocreation {
    background-color: transparent;
    position: fixed;
    top: 0.5vh;
    right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}body>header>div>a>img {
     width: 69px;
     height: 55px;
     margin-left: 35px;
     margin-top: 5px;
     margin-bottom: 5px;

 }


header {
    width: 1920px;
    height: 67px;
    background: linear-gradient(#EAEAEA, #B3B3B3);
}

form.recherche {

    background-color: #F2F2F2;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input.recherche {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: #707070;
    opacity: 0.7;
}

button.recherche {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

svg.recherche {
    color: #707070;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
}

div#recherche {
    margin-left: 700px;
    margin-top: -58px;
}
footer {
    background-color: black;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: #d9d9d9;
    position: relative;
    width: 100%;
    display: flex;
    padding: 1rem 5vw 1rem 5vw;
}
footer > div {
    width: 50%;
}
.box {
    flex-basis: 50%;
    padding: 1rem;
}

.box .content {
    margin: 20px 0 0 0;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .réseaux_sociaux a {
    padding: 0 2px;


}

