@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Montserrat:ital,wght@1,100&display=swap');


*{
    font-family: Monserrat, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


text, p {
    font-family: 'Monserrat', sans-serif;
    font-size: 1.125rem;

}
h2 {
    font-family: Contrail+One, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}


form {
    background-color: #F2F2F2;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: #707070;
    opacity: 0.7;
}





