@font-face {
    font-family: 'ContrailOne-Regular';
    src: url('police/Contrail_One/ContrailOne-Regular.woff') format('woff'),
    url('police/Contrail_One/ContrailOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monserrat';
    src: url('police/Montserrat/Montserrat-Thin.woff') format('woff'),
    url('police/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: Monserrat, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


text, p {
    font-family: 'Monserrat', sans-serif;
    font-size: 1.125rem;

}
h2 {
    font-family: ContrailOne-Regular,  "Segoe MDL2 Assets";
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}



/* mise en forme barre noir a revoir ?*/

body > header{
    background-color: black;
    display: grid;
    grid-template-areas: "countdown logo button";
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

#countdown{
    grid-area: countdown;
    border: white solid;
    border-radius: 25%;
    width: 75%;
    height: 100%;
    text-align: center;
    background-color: white;
    color: black;
    display: block;
    margin: auto 10px auto 10px;
    font-size: 80%;
}

#countdown>h2{
    color: darkred;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 90%;
}

header>a{

    grid-area: logo;
    height: 33%;
    width: 33%;
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    align-content: center;

}
header>a>img{
    width: 80%;
}


#button{
    margin: auto 5px auto auto;
    text-align: center;
    border-radius:  10rem;
}

body>header>div>button{
    grid-area: button;
    padding: 5px;
    border: white solid;
    color: white;
    text-align: center;
    font-size: 4vw;
    background-color: black;
}


/*mise en forme partie 1 à faire*/

#premiere_partie{
    background: url("../image/groupe-bleu.jpg") center no-repeat fixed;
    background-size: cover;
    color: #d9d9d9;
    font-size: 2rem;
    padding-top: 10%;
    height: 211px;
}


/*élément 1 mise en forme a revoir*/
#deuxieme_partie{
    background-color: white;
}


#element1 {
    position: relative;
    width: 100%;
    display: flex;


}

#element1 > img {
    flex-basis: 50%;
    width: 30%;
    margin: 25px;
}

#element1 > text {
    flex-basis: 50%;
    padding: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
}
#element2 {
    position: relative;
    width: 100%;
    display: flex;
    padding: 50px;
    font-family: ContrailOne-Regular, sans-serif;
}

#element2 > text {
    flex-basis: 50%;
    padding: 1rem;
}

#element3 {
    position: relative;
    width: 100%;
    display: flex;

}
#element3 > text {
    flex-basis: 50%;
    padding: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
}
#element3 img {
    width: 50%;
    height: 100%;
    flex-basis: 50%;
    margin: 25px;

}

#element4 {
    position: relative;
    width: 100%;
    display: flex;

}
#element4 > text {
    flex-basis: 50%;
    padding: 1rem;
    margin-bottom: 50px;
    margin-top: 50px;
}
#element4 img {
    width: 60%;
    height: 100%;
    flex-basis: 50%;
    margin: 25px;
}
#element5 {
    position: relative;
    width: 100%;
    display: flex;

}
#element5 > img {
    flex-basis: 50%;
    width: 50%;
    margin: 25px;
}
#element5 > text {
    flex-basis: 50%;
    margin-top: 50px;
}
#element6 {
    position: relative;
    width: 100%;
    display: flex;

}
#element6 > img {
    flex-basis: 10%;
    margin: 25px;
    width: 50%;
}

#element6 > text {
    flex-basis: 50%;
    padding: 1rem;
    margin-bottom: 50px;
    margin-top: 50px;
}



#troisieme_partie{
    background-image: url("../image/violinist-2.jpg");
    width: 100%;

}
.qui_sommes_nous {
    background-image: url("../image/groupe-violet.jpg");
    color: #d9d9d9;
    font-size: 1.125rem;
    padding: 5rem;

}


footer {
    background: url("../image/bubbles-black.jpg") center no-repeat fixed;
    background-size: cover;
    text-decoration: none;
    color: #d9d9d9;
    position: relative;
    width: 100%;
    display: flex;
}



.box {
    flex-basis: 50%;
    padding: 1rem;
}

.box .content {
    margin: 20px 0 0 0;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .réseaux_sociaux a {
    padding: 0 2px;


}

