@font-face {
    font-family: 'ContrailOne-Regular';
    src: url('police/Contrail_One/ContrailOne-Regular.woff') format('woff'),
    url('police/Contrail_One/ContrailOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monserrat';
    src: url('police/Montserrat/Montserrat-Thin.woff') format('woff'),
    url('police/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: Monserrat, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
h2 {
    font-family: ContrailOne-Regular, sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

body{

    background-color: black;
}

/* mise en forme barre noir a revoir ?*/

body > header{
    background-color: black;
    display: grid;
    grid-template-areas: "countdown logo button";
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

#countdown{
    grid-area: countdown;
    border: white solid;
    border-radius: 25%;
    width: 75%;
    height: 80%;
    text-align: center;
    background-color: white;
    color: black;
    display: block;
    margin: auto 10px auto 10px;
    font-size: 180%;
}

#countdown>h2{
    color: darkred;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 90%;
}

header>a{

    grid-area: logo;
    height: 33%;
    width: 33%;
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    align-content: center;

}
header>a>img{
    width: 30%;
}





#logo-museandsi{}

#button{
    margin: auto 5px auto auto;
    text-align: center;
}

body>header>div>button{
    grid-area: button;
    padding: 5px;
    border: white solid;
    color: white;
    text-align: center;
    font-size: 4vw;
    background-color: black;
}


/*mise en forme partie 1 à faire*/

#premiere_partie{
    background: url("../image/groupe-bleu.jpg") center no-repeat fixed;
    background-size: cover;
}


/*élément 1 mise en forme a revoir*/
#deuxieme_partie{
    background-color: white;
}


#deuxieme_partie > #element1 {
    display: grid;
    grid-template-areas:    "vide1 image titre"
                            "vide2 vide3 texte";
    grid-template-columns: 1fr 2fr 5fr 0fr 0fr 1fr;

}

#deuxieme_partie > #element1 > img {
    grid-area: image;
    margin: auto;
}

#deuxieme_partie > #element1 > h2 {
    grid-area: titre;
    margin: 0;
}

#deuxieme_partie > #element1 > text {
    grid-area: texte;
    margin-bottom: 300px;
}
#element1 img {
    width: 160%;
}
#deuxieme_partie > #element2 {
    display: grid;
    grid-template-areas:    "vide1 titre vide2"
                            "vide3 texte vide4";
    grid-template-columns: 3fr 20fr 2fr;

}
#deuxieme_partie > #element2 > h2 {
    grid-area: titre;
    margin: 0;
}
#deuxieme_partie > #element2 > text {
    grid-area: texte;
    margin-bottom: 300px;
}

#deuxieme_partie > #element3 {
    display: grid;
    grid-template-areas:    "image titre vide1"
                            "vide2 texte vide3";
    grid-template-columns: 3fr 6fr 1fr;

}

#deuxieme_partie > #element3 > h2 {
    grid-area: titre;
    margin: 0;
}


#deuxieme_partie > #element3 > text {
    grid-area: texte;
    margin-bottom: 200px;
}
#element3 img {
    width: 160%;
}

#deuxieme_partie > #element3 > img {
    grid-area: image;
    margin: auto;
}

#deuxieme_partie > #element4 {
    display: grid;
    grid-template-areas:    "titre titre titre"
                            "vide1 texte image";
    grid-template-columns: 1fr 15fr 11fr;

}

#deuxieme_partie > #element4 > h2 {
    grid-area: titre;
    margin-left: 280px;
    margin-bottom: 100px;


}


#deuxieme_partie > #element4 > text {
    grid-area: texte;
    margin-bottom: 200px;
}
#element4 img {
    width: 160%;
}

#deuxieme_partie > #element4 > img {
    grid-area: image;

}

h2 {
    font-size: 20px;
}

text {
    font-size: 14px;

}

#troisieme_partie{
    background-color: white;
}


footer {
    background: url("../image/bubbles-black.jpg") center no-repeat fixed;
    background-size: cover;
    text-decoration: none;
    color: #d9d9d9;
    position: relative;
    bottom: 0px;
    width: 100%;
    display: flex;
}


/*
.box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box .content {
    margin: 20px 0 0 0;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .réseaux_sociaux a {
    padding: 0 2px;


}
*/

